<div class="w-full max-h-full rounded-lg shadow overflow-auto">
    @if (showTitle()) {
        <div class="
            p-2 overflow-hidden
            flex justify-between
            bg-neutral-300 text-neutral-700 
            dark:bg-neutral-700 dark:text-neutral-100">
            <span>{{ title() }}</span>
        </div>
    }

    <div class="
        bg-neutral-100 text-neutral-700
        dark:bg-neutral-500 dark:text-neutral-100">

        <ng-content></ng-content>
        
    </div>
</div>
