<div class="flex flex-col justify-center items-center defaultText">
  <!-- <edt-card> -->
    <div class="flex flex-row-reverse w-2/3 pb-3 mb-3 borderBottom z-20">
      <div class="buttonPrimary" (click)="edtAddPrj.toggle(); edtName.focusOnInput();">
        <i class="fa-solid fa-plus text-base"></i>
        <span>{{ "PROJECT.NEW" | translate }}</span>
      </div>
    </div> 

    @for (prj of projectList(); track $index) {
    <div
      class="flex justify-between items-center w-2/3 p-4 my-2 borderBottom 
        hover:rounded-md hover:border-transparent hover:cursor-pointer 
        hover:bg-black/10 dark:hover:bg-white/10"
      (dblclick)="goToTranslation(prj.id)">
      <!-- <div>
        <i
          class="fa-solid fa-edit iconButton"
          [title]="'LANGUAGE.EDIT' | translate"
          (click)="goToTranslation(prj.id)"
        ></i>
      </div> -->
      <div>
        <div class="text-2xl font-medium text-left pb-2 hover:text-green-700 hover:underline" (click)="goToTranslation(prj.id)">
          {{ prj.name }}
        </div>
        <div class="text-base text-left">
          {{ prj.description }}
        </div>
      </div>

      <div class="flex gap-2 justify-center">
        @for(flg of prj.languages; track $index) {
        <span class="text-base" [class]="'fi fi-' + flg.flagName"></span>
        }
      </div>

      <div class="buttonSecondary" (click)="showDeletePop(prj)">
        <i class="fa-solid fa-trash"></i>
        <span>{{'PROJECT.REMOVE' | translate}}</span>
      </div>
    </div>
    } @empty {
    <div class="p-12 text-center text-lg">
      <span class="font-semibold text-neutral-600 dark: dark:text-neutral-500">{{
        "INFO.NO_PROJECT" | translate
      }}</span>
    </div>
    }
  <!-- </edt-card> -->
</div>

<edt-popup #edtAddPrj>
  <div class="p-8 defaultText">
    <div class="mb-8 font-semibold text-2xl">
      {{ "PROJECT.ADD" | translate }}
    </div>

    <form [formGroup]="newProjectForm" (submit)="addProject()">
      <div class="flex flex-col gap-3 mb-6 w-96">
        <edt-input
          #edtName
          [label]="'NAME' | translate"
          formControlName="name"
        ></edt-input>
        <edt-input
          [label]="'DESCRIPTION' | translate"
          inputType="area"
          formControlName="description"
        ></edt-input>
      </div>

      <div class="flex gap-4 justify-end">
        <edt-button
          [label]="'CLOSE' | translate"
          level="secondary"
          (onClick)="edtAddPrj.toggle()"
        ></edt-button>
        <edt-button
          [label]="'ADD' | translate"
          [disabled]="!newProjectForm.valid"
        ></edt-button>
      </div>
    </form>
  </div>
</edt-popup>

<edt-popup #edtRemovePrj>
  <div class="p-8 defaultText">
    <div class="flex gap-4 items-center mb-8 font-semibold text-2xl">
      <i class="fa-solid fa-circle-exclamation text-red-600 dark:text-red-500"></i>
      {{ "PROJECT.REMOVE" | translate }}
    </div>

    @if(selectedPrj){
      <p [innerHTML]="'PROJECT.QUESTIONS.DELETE_PROJECT' | translate:{ prjName: selectedPrj.name }">
      </p>
    }

    <div class="flex gap-4 justify-end mt-8">
      <edt-button
        [label]="'CANCEL' | translate"
        level="secondary"
        (onClick)="edtRemovePrj.toggle()"
      ></edt-button>
      <edt-button
        [label]="'CONTINUE' | translate"
        (onClick)="removePrj()"
      ></edt-button>
    </div>
  </div>
</edt-popup>
