<label class="block text-gray-700 text-sm font-bold">
    {{ label() }}
</label>

@if(inputType() == 'input'){

    <input 
        [(ngModel)]="value"
        [disabled]="disabled()"
        class="bg-neutral-50 border border-gray-300 text-gray-900 text-xs rounded-lg 
        block w-full px-2.5 py-2 dark:bg-base-800/50
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
        outline-none" 
        [ngClass]="{ 'border-red-700': control?.invalid }"
        type="text" 
        [placeholder]="label() ?? ''"
        (input)="onChange(value)"
        (blur)="blur(value())" />

} @else {

    <textarea 
        rows="4" 
        [(ngModel)]="value"
        [disabled]="disabled()"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg 
            border border-gray-300
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
            dark:text-white outline-none" 
        [ngClass]="{ 'border-red-700': control?.invalid }"
        [placeholder]="label() ?? ''"
        (input)="onChange(value)"
        (blur)="blur(value())">
    </textarea>

}
