<div class="px-4">
    <edt-card>
        <div class="headerCardPage flex-row-reverse">
            <div class="buttonPrimary" (click)="edtAddLang.toggle()">
                <i class="fa-solid fa-plus text-base" [title]="'LANGUAGE.ADD' | translate"></i>
                <span>{{ 'LANGUAGE.ADD' | translate }}</span>
            </div>
        </div>

        <div class="flex flex-col">
            @for (lang of languageList(); track $index) {
                <div class="grid grid-cols-4 items-center tempCol gap-2 cardRow">
                    <div>
                        <span class="text-base" [class]="'fi fi-' + lang.flagName"></span> 
                    </div>
                    <div class="text-base">
                        {{ "FLAG." + lang.description | translate }}
                    </div>
                    <div class="text-base">
                        {{ 'EXTENTION_NAME' | translate }} <b>{{lang.fileName}}</b>
                    </div>
                    <div>
                        <i class="fa-solid fa-trash iconButton" [title]="'LANGUAGE.REMOVE' | translate" (click)="removeLang(lang)"></i>
                    </div>
                </div>
            } @empty {
                <div class="p-12 text-center">
                    <span class="font-semibold text-base text-neutral-600">{{ 'INFO.NO_LANGUAGE' | translate }}</span>
                </div>
            }
        </div>
    </edt-card>
</div>

<add-language #edtAddLang (onClose)="closeAddLang($event)"></add-language>