<edt-popup #edtAddLang>
    <div class="p-8">
        <div class="mb-8 font-semibold text-xl uppercase">
            {{ 'LANGUAGE.ADD' | translate }}
        </div>

        <div class="flex flex-col gap-3 mb-6 w-96">
            <mat-form-field>
                <mat-label>{{ 'LANGUAGE.LANGUAGE' | translate }}</mat-label>
                <mat-select [(value)]="newLang">
                    @for (flag of selectableLang(); track $index) {
                        <mat-option [value]="flag">
                            <div class="flex gap-4 items-center">
                                <span [class]="'fi fi-' + flag.flagName"></span> 
                                <span>{{ "FLAG." + flag.description | translate}}</span>
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="flex gap-4 justify-end">
            <edt-button [label]="'CLOSE' | translate" level="secondary" (onClick)="edtAddLang.toggle()"></edt-button>
            <edt-button [label]="'ADD' | translate" (onClick)="addLang()"></edt-button>
        </div>
    </div>
</edt-popup>