<!-- <div class="w-full h-52 top-0 left-0 absolute rounded-b-lg bgTop -z-10">
</div> -->
<div class="top-0 left-0 absolute w-full h-full bg-neutral-700 -z-10">
  <div class="w-full h-full bg-green-900 edt-clip"></div>
</div>

<div class="w-full h-full overflow-y-auto" [ngClass]="{'dark' : appSettingsService.darkTheme()}">

  <nav class="h-12 p-4 flex justify-between">
    <div></div>
    <div class="flex gap-4 text-neutral-50" >

      <i class="fa-solid fa-diagram-project text-lg hover:cursor-pointer" title="Project" (click)="router.navigate(['project'])"></i>

      <i class="fa-solid fa-flag text-lg hover:cursor-pointer" title="Languages" (click)="router.navigate(['languages'])"></i>

      @if(appSettingsService.darkTheme()){
        <i class="fa-solid fa-moon text-lg hover:cursor-pointer" title="dark" (click)="appSettingsService.toggleDarkTheme()"></i>
      } @else {
        <i class="fa-solid fa-sun text-lg hover:cursor-pointer" title="light" (click)="appSettingsService.toggleDarkTheme()"></i>
      }
    </div>
  </nav>

  <div class="mt-4 ml-8 font-bold text-3xl text-neutral-50">
    {{ appSettingsService.titlePage() }}
  </div>

  <div class="w-full pt-6 px-4 z-10">

    <!-- <div class="w-full h-44 bg-neutral-100 rounded-md"> -->

      <router-outlet />

    <!-- </div> -->

  </div>
</div>
