<!-- <div class="w-full h-52 top-0 left-0 absolute rounded-b-lg bgTop -z-10">
</div> -->
<!-- <div class="top-0 left-0 absolute w-full h-full bg-neutral-700 -z-10">
  <div class="w-full h-full bg-green-900 edt-clip"></div>
</div> -->

<div class="h-full overflow-hidden bg-neutral-50 dark:bg-base-800" [ngClass]="{'dark' : appSettingsService.darkTheme()}">

  <nav class="py-4 px-9 flex justify-between sticky top-0 left-0 z-40 
    border-b bg-neutral-200 border-b-neutral-300
    dark:bg-base-900 dark:border-b-base-600">
    <!-- <div class="dark:bg-white/20 rounded-md px-3 py-1"> -->
    <div class="flex gap-5 items-center font-semibold defaultText text-base">
      <img class="dark:grayscale dark:invert" alt="Logo" src="assets/images/logo.svg" width="32">
      <span>{{ appSettingsService.titlePage() }}</span>
    </div>

    <div class="flex gap-4 items-center" >
      <div class="buttonSecondary" (click)="router.navigate(['project'])">
        <i class="fa-solid fa-cubes text-base hover:cursor-pointer" title="Project"></i>
      </div>
      <div class="buttonSecondary" (click)="router.navigate(['languages'])">
        <i class="fa-regular fa-flag text-base hover:cursor-pointer" title="Languages"></i>
      </div>

      <div class="buttonSecondary" (click)="switchDarkTheme()">
        @if(appSettingsService.darkTheme()){
          <i class="fa-solid fa-moon text-base hover:cursor-pointer"></i>
        } @else {
          <i class="fa-solid fa-sun text-base hover:cursor-pointer"></i>
        }
      </div>

      <div class="buttonSecondary" (click)="router.navigate(['settings'])">
        <i class="fa-solid fa-gear text-base hover:cursor-pointer"></i>
      </div>
    </div>
  </nav>

  <div class="mt-4 ml-8 font-bold text-3xl text-neutral-50">
    
  </div>

  <div class="overflow-y-hidden z-10">

    <!-- <div class="w-full h-44 bg-neutral-100 rounded-md"> -->

      <router-outlet />

    <!-- </div> -->

  </div>
</div>
