.bgTop {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(18,109,119,1) 69%, rgba(3,189,227,1) 100%);
}

.edt-clip {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 50% 100%);
}