<div class="px-4 mb-4">
    <edt-card>
        <div class="w-full overflow-auto">
            <div class="w-full h-12 flex items-center justify-between px-5 border-b border-b-neutral-300 bg-neutral-200">
                <div class="flex gap-4 py-1 items-center">
                    <div #dFlag class="flex gap-2 border border-neutral-300 bg-neutral-50 py-1 px-3 rounded-md hover:cursor-pointer hover:bg-green-600 hover:text-white" (click)="dropFlags.show()">
                        @if(selectedLang()){
                            <span class="text-base" [class]="'fi fi-' + selectedLang()?.flagName"></span> 
                        } @else {
                            <i class="fa-solid fa-circle-question text-xl"></i>
                        }
                        <i class="fa-solid fa-caret-down text-lg"></i>
                    </div>
                    <div class="flex gap-2 border border-neutral-300 bg-neutral-50 items-center py-2 px-3 rounded-md hover:cursor-pointer">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" [(ngModel)]="searchValue" class="appearance-none bg-transparent" [attr.aria-label]="'SEARCH' | translate" (blur)="searchValueChange()" />
                    </div>
                    <div class="flex gap-2 items-center border border-neutral-300 bg-neutral-50 py-2 px-3 rounded-md hover:bg-green-600 hover:text-white hover:cursor-pointer" (click)="clickSortTranslation()">
                        <i class="fa-solid fa-arrow-down-a-z "></i>
                        <span>{{ 'FUNCTION.SORT_GLOBAL' | translate }}</span>
                    </div>
                </div>
                @if(selectedLang()){
                    <div class="flex gap-2 items-center border border-neutral-300 bg-neutral-50 py-2 px-3 rounded-md hover:bg-green-600 hover:text-white hover:cursor-pointer" (click)="edtAddTranslation.toggle()">
                        <i class="fa-solid fa-plus text-base hover:cursor-pointer"></i>
                        <span>{{ 'TRANSLATION.ADD' | translate }}</span>
                    </div>
                }
            </div>

            @for (translation of project()?.translations; track $index) {
                <translation-row 
                    [translation]="translation" 
                    [selectedLang]="selectedLang()"
                    (onValueChange)="translationValChange($event.newVal, $event.translationId)"
                    (onAdd)="addSubTranslation($event)"
                    (onRemove)="removeTranslation($event)">
                </translation-row>
            } @empty {
                <div class="p-12 text-center">
                    <span class="font-semibold text-xl text-neutral-600">{{ 'INFO.NO_TRANSLATION' | translate }}</span>
                </div>
            }
        </div>
    </edt-card>
</div>

<!-- DropDown flag List -->
<edt-dropdown #dropFlags [target]="dFlag">
    @for (lang of project()?.languages; track $index) {
        <div class="flex gap-2 items-center w-full p-4 hover:bg-green-600 hover:bg-opacity-50 hover:cursor-pointer" (click)="selectLanguage(lang)">
            <span class="text-xl" [class]="'fi fi-' + lang.flagName"></span> 
            <span>{{ 'FLAG.' + lang.description | translate }}</span>
        </div>
    }
    <div class="flex gap-2 items-center w-full p-4 hover:bg-green-600 hover:bg-opacity-50 hover:cursor-pointer" (click)="addLangComp.toggle(); dropFlags.show();">
        <i class="fa-solid fa-plus text-xl hover:cursor-pointer hover:text-neutral-800" [title]="'LANGUAGE.ADD' | translate"></i>
        <span>{{ 'LANGUAGE.ADD' | translate }}</span>
    </div>
</edt-dropdown>

<!-- Pop Add Translation -->
<edt-popup #edtAddTranslation>
    <div class="p-8">
        <div class="mb-8 font-semibold text-2xl">
            {{ 'TRANSLATION.ADD' | translate }}
        </div>

        <form [formGroup]="newLangForm" (submit)="addItemTraslate()">
            <div class="flex flex-col gap-3 mb-6 w-96">
                <edt-input [label]="'NAME' | translate" formControlName="global"></edt-input>
                <edt-input [label]="'VALUE' | translate" formControlName="value"></edt-input>
            </div>
            
            <div class="flex gap-4 justify-end">
                <edt-button [label]="'CLOSE' | translate" level="secondary" (onClick)="closeAddTranslation()"></edt-button>
                <edt-button [label]="'ADD' | translate" [disabled]="!newLangForm.valid"></edt-button>
            </div>
        </form>
    </div>
</edt-popup>

<!-- Pop add Language -->
<add-language #addLangComp [prjId]="project()?.id" (onClose)="addLangClose($event)"></add-language>