<div class="grid grid-cols-4 gap-2 tempCol items-center defaultText py-2 px-4 mt-2
    bg-base-600/10 dark:bg-white/10 
    rounded-md hover:border-transparent">
    <div>
        @if(translation().translation && translation().translation!.length > 0){
            @if(openSubMenu()){
                <i class="fa-solid fa-caret-down iconButton" (click)="openSubMenu.set(false)"></i>
            }@else {
                <i class="fa-solid fa-caret-right iconButton" (click)="openSubMenu.set(true)"></i>
            }
        } 
    </div>
    <div class="text-left">
        {{ translation().global }}
    </div>
    <div class="text-base font-medium">
        @if(translation().items){
            <edt-input [value]="getValueTranslation(translation())" (onBlur)="valChange($event, translation().id)"></edt-input>
        }
    </div>
    <div class="flex gap-4 justify-end">
        <i class="fa-solid fa-plus iconButton" [title]="'TRANSLATION.ADD' | translate" (click)="addSubTranslation(translation().id)"></i>
        <i class="fa-solid fa-trash iconButton" [title]="'TRANSLATION.REMOVE' | translate" (click)="removeTranslation(translation().id)"></i>
    </div>
</div>

@if(openSubMenu()){
    @defer {
        @for (tr of translation().translation; track $index) {
            <div class="border-l-[24px] border-transparent">
                <translation-row 
                    [translation]="tr" 
                    [selectedLang]="selectedLang()"
                    (onValueChange)="valChange($event.newVal, $event.translationId)"
                    (onAdd)="addSubTranslation($event)"
                    (onRemove)="removeTranslation($event)">
                </translation-row>
            </div>
        }
    }
}
