<div class="mt-2">
    <div class="grid grid-cols-3 tempCol items-center defaultText py-2 px-4
        bg-base-600/10 dark:bg-white/10 
        hover:border-transparent"
        [class]="this.openDetail() ? 'rounded-t-md' : 'rounded-md'">
        <div>
            @if(hasSubMenu()){
                @if(openSubMenu()){
                    <i class="fa-solid fa-caret-down iconButton" (click)="openSubMenu.set(false)"></i>
                }@else {
                    <i class="fa-solid fa-caret-right iconButton" (click)="openSubMenu.set(true)"></i>
                }
            } 
        </div>
        <div class="text-left truncate">
            {{ translation().global }}
        </div>
        <div class="flex gap-4 justify-end">
            @if(!hasSubMenu()){
                <i class="fa-solid fa-edit iconButton" [title]="'TRANSLATION.EDIT' | translate" (click)="editTranslation(translation())"></i>
            }
            <i class="fa-solid fa-plus iconButton" [title]="'TRANSLATION.ADD' | translate" (click)="addSubTranslation(translation().id)"></i>
        </div>
    </div>
    @if(this.openDetail()) {
        <div class="w-full bg-base-600/5 dark:bg-white/5 rounded-b-md">
            @for (item of selectedTranslation()?.items; track $index) {
                <div class="defaultText py-2 px-4">
                    <div class="text-left">
                        {{ 'FLAG.' + getDescriptionLang(item.lang) | translate }}
                    </div>
                    <div class="text-base font-medium">
                        <edt-input [value]="item.value" (onBlur)="valChangeByLang($event, selectedTranslation()!.id, item.lang!)"></edt-input>
                    </div>
                </div>
            }
        </div>
    }
</div>
@if(openSubMenu()){
    @defer {
        @for (tr of translation().translation; track $index) {
            <div class="border-l-[24px] border-transparent">
                <mobile-translation-row 
                    [translation]="tr" 
                    [selectedLang]="selectedLang()"
                    (onValueChange)="valChange($event.newVal, $event.translationId)"
                    (onAdd)="addSubTranslation($event)">
                </mobile-translation-row>
            </div>
        }
    }
}
