/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("./assets/font/NotoSans.ttf");
}

* {
  font-family: "Nunito";
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  @apply bg-base-700 rounded-md;
}

*::-webkit-scrollbar-thumb {
  background-clip: content-box;

  border: 2px solid transparent;
  @apply bg-neutral-500 rounded-full;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-neutral-600;
}

.contentHeight {
  height: calc(100vh - 110px);
}

.defaultText {
  @apply text-neutral-700 dark:text-neutral-300;
}

.headerCardPage {
  @apply w-full h-12 flex items-center px-5 border-b border-b-neutral-300 bg-neutral-200;
}

.buttonPrimary {
  @apply flex gap-2 items-center py-1 px-2 hover:cursor-pointer;
  @apply border-none rounded-md;
  @apply bg-green-700 dark:bg-green-800;
  @apply text-neutral-100 dark:text-neutral-300 hover:text-white dark:hover:text-neutral-300;
  @apply hover:bg-green-700/90 dark:hover:bg-green-600/40 active:bg-green-800 dark:active:bg-green-700/40 active:text-white;
}

.buttonSecondary {
  @apply flex gap-2 items-center py-1 px-2 hover:cursor-pointer;
  @apply border rounded-md border-neutral-400 dark:border-neutral-500 hover:border-transparent;
  @apply text-neutral-700 dark:text-neutral-300 hover:text-white dark:hover:text-neutral-300;
  @apply bg-transparent hover:bg-green-700/90 dark:hover:bg-green-600/40 active:bg-green-800 dark:active:bg-green-700/40 active:text-white;
}

.buttonSecondary.disabled {
  @apply text-neutral-500 dark:text-neutral-400 bg-black/10 dark:bg-white/10 hover:border-neutral-400 dark:hover:border-neutral-500 active:text-neutral-500 dark:active:text-neutral-400;
}

.buttonSecondary.selected {
  @apply bg-green-600/70 text-base-50 dark:text-base-50;
}

.iconButton {
  @apply text-base hover:cursor-pointer hover:text-neutral-800;
}

.borderBottom {
  @apply border-b border-b-black/10 dark:border-b-white/10;
}