/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("./assets/font/NotoSans.ttf");
}

* {
  font-family: "Nunito";
  @apply text-neutral-700 dark:text-neutral-400;
}

*::-webkit-scrollbar {
  background-color: rgb(229 229 229);
  width: 10px;
  height: 10px;
  @apply rounded-br-md rounded-tr-md;
}

*::-webkit-scrollbar-thumb {
  background-clip: content-box;

  border: 2px solid transparent;
  @apply bg-neutral-500 rounded-full;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-neutral-600;
}

.headerCardPage {
  @apply w-full h-12 flex items-center px-5 border-b border-b-neutral-300 bg-neutral-200;
}

.buttonPrimary {
  @apply flex gap-2 items-center py-1 px-2 hover:cursor-pointer;
  @apply border rounded-md border-neutral-400 dark:border-neutral-500;
  @apply text-neutral-700 dark:text-neutral-400 hover:text-white dark:hover:text-neutral-300;
  @apply bg-transparent hover:bg-green-700/90 dark:hover:bg-green-600/40 active:bg-green-800 dark:active:bg-green-700/40 active:text-white;
}

.buttonPrimary.selected {
  @apply bg-green-600/70 text-base-50 dark:text-base-50;
}

.iconButton {
  @apply text-base hover:cursor-pointer hover:text-neutral-800;
}

.cardRow {
  @apply py-2 px-4 text-center hover:bg-green-600 hover:bg-opacity-30 border-b border-neutral-300;
}

.gridRowAlternate {
  @apply even:bg-neutral-100 odd:bg-neutral-200;
}
